@font-face {
    font-family: "f1-regular";
    src: local("Formula1-Regular"), url("../../public/fonts/Formula1-Regular.otf") format("opentype")
}
@font-face {
    font-family: "f1-bold";
    src: local("Formula1-Bold"), url("../../public/fonts/Formula1-Bold.otf") format("opentype")
}
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    background-color: #dfdcdc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #202225;
}
.navTitle {
    font-family: "marlboro";
    font-weight: 900;
    font-size: 1.7rem;
    font-style: italic;
    padding-left: 10px;
    font-family: "f1-bold";
}
.championsTitle {
    color: #892326;
    font-weight: 700;
    font-family: "f1-regular";
}
.navbar i {
    padding-right: 20px;
    font-size: 2rem;
}
.links {
    height: 100vh;
    width: 100%;
    background-color: #212832;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
    font-family: "f1-bold";
}
.links a {
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    transition: all 0.3s linear;
    padding-bottom: 50px;
}
.links .close {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 20px;
    transition: all 0.3s linear;
    color: #fff;
}
.links .close i:hover, .links a:hover {
    color: #892326;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-size: 2.3rem;
}
.navbar i:hover {
    color: #892326;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
