.App {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.navbar .nav-title {
    padding-left: 40px;
}

.navbar .links a {
    padding-right: 100px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: 0.1s;
}

.navbar .links a:hover {
    color: rgb(175, 190, 207);
}

.main {
    position: absolute;
    top: 40%;
    left: 50%;
    translate: -50% -50%;
    height: 200px;
    width: 500px;
    text-align: center;
}

.driver-list{
    box-sizing: border-box;
    list-style-type: none;
    border: #e4e4e4 solid 1px;
    border-radius: 5px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.driver ul {
    padding: 0;
}
