@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500;600;700;800;900&family=Work+Sans:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family: "f1-regular";
    src: local("Formula1-Regular"), url("../public/fonts/Formula1-Regular.otf") format("opentype")
}

.App {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #212832;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
}
.drivers-container, .constructors-container {
    padding-top: 50px;
    background-color: #212832;
    height: 100%;
    width: 80%;
    font-weight: 500;
}
.list{
    box-sizing: border-box;
    list-style-type: none;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #dfdcdc;
    color: #212832;
}
.list:hover {
    background-color: #fff;
    transition: all 0.3s ease-in-out;

}
.app-container {
    display: flex;
    justify-content: center;
}

.filter-options {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
}
.filter-options button {
    background-color: #dfdcdc;
    color: #212832;
    border: none;
    border-radius: 2px;
    padding: 6px 8px;
    font-size: 0.9rem;
    cursor: pointer;
}
.filter-options button:hover {
    background-color: #fff;
    color: #212832; 
    padding: 6px 10px;
    transition: all 0.3s;
}
.select-menu {
    width: 100%;
}
.select-menu select {
    width: 100%;
    font-family: "f1-regular";
    text-align: center;
    padding: 6px 12px;
    margin: 10px 0;
    font-size: 1.2rem;
    color: #212832;
    outline: none;
}
.page-title {
    font-family: "f1-regular";
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.display-lists {
    padding-top: 10px;
}


/* .navbar .links a {
    padding-right: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: 0.1s;
}

.navbar .links a:hover {
    color: rgb(175, 190, 207);
}

.main {
    position: absolute;
    top: 40%;
    left: 50%;
    translate: -50% -50%;
    height: 200px;
    width: 500px;
    text-align: center;
}

.list{
    box-sizing: border-box;
    list-style-type: none;
    border: #e4e4e4 solid 1px;
    border-radius: 5px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.driver ul {
    padding: 0;
} */
